[features]
seeds = false
[programs.localnet]
maius_program_library = "85WehtyqKfKjGTq9ad9V6J5iMX7KLsNSN5rdxaeqDQoy"

[registry]
url = "https://anchor.projectserum.com"

[provider]x
cluster = "localnet"
wallet = "/github/home/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
